/**
* -----------------------------------------------------------------------
*                                  Colors
* -----------------------------------------------------------------------
*/

$transparent-dark-1: rgba(0, 0, 0, 0.4);
$transparent-dark-2: rgba(0, 0, 0, 0.5);
$transparent-dark-3: rgba(0, 0, 0, 0.6);
$transparent-dark-4: rgba(0, 0, 0, 0.7);

$light-gray-1: #c1c1c1;
$light-gray-2: #e6e6e6;

$persimmon: #e85d04;
$carrot-orange: #f48c06;
$orange-web: #faa307;
$selective-yellow: #ffba08;

/**
* -----------------------------------------------------------------------
*                              Font Families
* -----------------------------------------------------------------------
*/

/**
* -----------------------------------------------------------------------
*                               respond-to()
* -----------------------------------------------------------------------
*/

@mixin respond-to($media) {
  @media screen and (min-width: $media + px) {
    @content;
  }
}
