.order {
  margin-top: 5rem;

  &__title {
    width: fit-content;
    border-bottom: 2px solid $blue-400;
  }

  &__star {
    color: #fbc634;
  }

  &__check {
    color: $green-500;
  }

  &__x {
    color: $danger;
  }
}
