.search-form {
  border: 1px solid $blue-600;
  border-radius: 0.25rem;

  &__price-delimiter {
    width: fit-content;
    padding: 5px 10px;
  }

  &__title {
    cursor: pointer;

    a {
      text-decoration: none;

      i {
        padding-right: 0.4rem;
      }
    }
  }

  &__line {
    color: $blue-600;
    opacity: 0.5;
  }
}
